.top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 15%;
    margin: auto;
}

.left{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.right{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.main{
    display: flex;
    flex-direction: row;
    height: 85%;
    justify-content: space-around;
}

.box{
    border: 1px solid #000;
    width: 230px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top > button{
    width: 18%;
    margin: 1%;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 10px;
    background: #003d85;
    color: #fff;
    text-transform: uppercase;
}

.right > button{
    margin: 1%;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 10px;
    background: #5f586f;
    color: #fff;
    text-transform: uppercase;
}

.left > button{
    margin: 1%;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 10px;
    background: #27242d;
    color: #fff;
    text-transform: uppercase;
}

.items{
    width: 60%;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.box > .heading{
    font-weight: bold;
}

.top > button.sel {
    color: rgb(229, 200, 69);
    background: #27242d !important;
}

.left > button.sel {
    color: rgb(229, 200, 69);
    background: #27242d !important;
}

.right > button.sel {
    color: rgb(229, 200, 69);
    background: #27242d !important;
}