html{
    font-size: 100%;
}

.top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    height: 20%;
    margin: auto;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12%;
}

.main{
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: space-around;
}

.top > button{
    width: 16%;
    margin: 1vh 1% 0.5vh;
    border-radius: 10px;
    font-size: clamp(2px, 1vw, 10pt);
    white-space: nowrap;
    padding: 10px;
    background: #003d85;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.right > button{
    margin: 0.3vw;
    border-radius: 10px;
    font-size: clamp(2px, 1vw, 10pt);
    padding: 10px;
    background: #5f586f;
    color: #fff;
    text-transform: uppercase;
}

.left > button{
    margin: 0.3vw;
    border-radius: 10px;
    font-size: clamp(2px, 1vw, 10pt);
    padding: 10px;
    background: #27242d;
    color: #fff;
    text-transform: uppercase;
}

.items{
    width: 72%;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.popup{
    display: block;
    width: 86%;
    height: 80%;
    position: absolute;
    top: 9%;
    left: 6%;
    right: 6%;
    bottom: 9%;
    background: #eee;
    z-index: 2;
    padding: 1%;
}

.popup--hidden{
    display: none;
}

.popup > .heading{
    font-size: 20pt;
    height: 10%;
}

.popup > .description{
    height: 80%;
    overflow: auto;
}

.popup > .close{
    height: 10%;
}

.box{
    background:  #f7f7f7;
    width: 310px;
    height: 110px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caseno{
    height: 10%;
    font-size: 8pt;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

.box--open{
    height: auto !important;
}

.box > .heading{
    height: 30%;
    font-weight: bold;
    font-size: 11pt;
    display: block;
}

.box > .manchet{
    height: 30%;
    font-size: 10pt;
    overflow: hidden;
}

.readmore > button{
    width: 70%;
    margin: auto;
    font-size: 10pt;
}


.readmore{
    border-radius: 5px;
    width: 100%;
    height: 20%;
    text-align: center;
}

.top > button.sel {
    color: rgb(229, 200, 69);
    background: #27242d !important;
}

.left > button.sel {
    color: rgb(229, 200, 69);
    background: #5f586f !important;
}

.right > button.sel {
    color: rgb(229, 200, 69);
    background: #27242d !important;
}